.title {
  font-family: 'Arima Madurai', cursive;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 300;
  padding: 1rem;
}

.title-u {
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 55%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid $color-4;
  }
  &:before {
    content: '';
    display: block;
    width: 55%;
    position: absolute;
    top: 90%;
    right: 0;
    border-bottom: 1px solid $color-4;
  }
}

.btn {
  display: inline-block;
  text-decoration: none;
  border: none;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  text-transform: uppercase;
}

.shadow {
  background-color: #f7f7f7;
}

.link:link,
.link:visited {
  color: inherit;
  text-decoration: none;
}

.d-font {
  font-family: 'Arima Madurai', cursive;
}

.top {
  position: fixed;
  bottom: 5%;
  right: 2%;

  &__icon {
    display: block;
    font-size: 2rem;
    color: $color-1;
    background-color: $color-4;
    padding: 3px 10px;
    border-radius: 5px;

    &:hover {
      background-color: $color-5;
    }
  }
}
