.title {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 300;
  padding: 1rem;
}

.title-u {
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 60%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid $color-4;
  }
  &:before {
    content: '';
    display: block;
    width: 60%;
    position: absolute;
    top: 100%;
    right: 0;
    border-bottom: 1px solid $color-4;
  }
}

.btn {
  display: inline-block;
  text-decoration: none;
  border: none;
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  text-transform: uppercase;
}

.btn-reserve {
  font-size: 2.5rem;
  color: $color-5;
  background-color: transparent;
  border: 3px solid $color-5;
  margin-top: 5rem;
  font-weight: 100;

  &:hover {
    color: $color-1;
    border: 3px solid $color-1;
    cursor: pointer;
  }
}

.shadow {
  background-color: #f7f7f7;
}
