$color-b: #49c5b6;
$color-o: #df6c4f;
$color-r: #e05038;
$color-y: #e6af4b;
$color-g: #334431;

$font-color-p: #202121;
$font-color-s: #ffffff;

$bg-color-p: #00a4d6;
$bg-color-s: #8565b6;

$box-color-b: black;
