.address {
  margin: 8rem auto 3rem auto;
  padding: 2rem;

  @media (max-width: 700px) {
    margin: 5rem auto 0 auto;
    padding: 1rem;
  }
  &__box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }

  &__map {
    border-radius: 5px;
    overflow: hidden;
    @media (max-width: 700px) {
      display: none;
    }
  }

  &__title {
    font-size: 1.8rem;
    color: $color-2;
    text-transform: uppercase;
    text-align: center;
  }

  &__details {
    @media (max-width: 1200px) {
      display: flex;
      justify-content: space-evenly;
    }
    @media (max-width: 700px) {
      flex-direction: column;
    }
  }

  &__location,
  &__contact {
    margin: 3rem;
    padding: 2rem;
    border: 1px solid $color-1;
    border-radius: 5px;
    background-color: white;
    position: relative;
    transition: all 0.2s ease-in;
    @media (max-width: 600px) {
      margin: 2rem;
      padding: 1rem;
    }

    &:hover {
      background-color: $color-1;
    }
  }

  &__info {
    font-size: 1.6rem;
    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 20%;
      right: 100%;
      border-width: 10px 15px 10px 0;
      border-color: transparent $color-1 transparent transparent;
      border-style: solid;
      @media (max-width: 700px) {
        display: none;
      }
    }
  }

  &__icon {
    display: inline-block;
    font-size: 2rem;
    color: $color-2;
    vertical-align: middle;
    margin-right: 5px;
  }
}
