.home {
  background-image: linear-gradient(
      to bottom,
      rgba($color-4, 0.6),
      rgba($color-4, 0.6)
    ),
    url('../asset/images/hero.jpeg');
  background-blend-mode: multiply, multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 99vw;
  height: 100vh;
  text-align: center;
  position: relative;

  &__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: upToDown 1s ease-out;
  }
  &__img {
    display: inline-block;
    width: 20%;
    height: 20%;
  }

  &__title {
    font-size: 5rem;
    font-weight: 100;
    color: $color-3;
  }

  &__date {
    font-size: 3.5rem;
    font-weight: 300;
    margin-top: 2rem;
    text-transform: uppercase;
    color: $color-1;
  }

  &__reg {
    font-size: 2.5rem;
    color: $color-1;
    background-color: transparent;
    border: 3px solid $color-1;
    margin-top: 5rem;
    font-weight: 100;
    transition: all 0.3s ease-in;

    &:hover {
      color: $color-5;
      border: 3px solid $color-5;
      cursor: pointer;
    }
  }
}
