.home {
  background-image: linear-gradient(
      to bottom,
      rgba($color-4, 0.6),
      rgba($color-4, 0.6)
    ),
    url('../asset/images/hero.jpeg');
  background-blend-mode: multiply, multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 99vw;
  height: 99vh;
  text-align: center;

  &__info {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__img {
    display: inline-block;
    width: 20%;
    height: 20%;
  }

  &__title {
    font-family: 'Arima Madurai', cursive;
    font-size: 5rem;
    font-weight: 100;
    color: $color-3;
  }

  &__date {
    font-size: 3.5rem;
    font-weight: 300;
    margin-top: 2rem;
    text-transform: uppercase;
    color: $color-1;
  }
}
