.schedule {
  margin: 10rem auto 0 auto;

  &__list {
    margin-top: 2rem;
  }

  &__item {
    display: flex;
    justify-content: center;
  }

  &__time {
    align-self: flex-start;
    font-size: 2rem;
    width: 15%;
    margin-top: 3rem;
    border-bottom: 1px solid $color-1;
    color: $color-3;
  }

  &__line {
    align-self: stretch;
    background-color: $color-1;
    width: 2px;
    position: relative;
  }

  &__details {
    width: 50rem;
    display: flex;
    border: 1px solid $color-1;
    border-radius: 5px;
    padding: 1rem;
    position: relative;
    margin-top: 3rem;
    margin-left: 5rem;
    transition: all 0.2s ease-in;

    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 3rem;
      left: -1.5rem;
      border-width: 10px 15px 10px 0;
      border-color: transparent $color-1 transparent transparent;
      border-style: solid;
    }
  }

  &__img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-right: 3rem;
  }

  &__info {
    margin-top: 1rem;
    text-align: left;
  }

  &__title {
    font-size: 2rem;
    color: $color-3;
  }

  &__speaker {
    font-size: 1.6rem;
    font-weight: 400;
  }
}
