.schedule {
  padding: 2rem 0 5rem 0;

  &__header {
    margin: 10rem auto 3rem auto;
    @media (max-width: 600px) {
      margin: 5rem auto 0 auto;
    }
  }

  &__list {
    margin-top: 2rem;
  }

  &__item {
    display: flex;
    justify-content: center;
  }

  &__time {
    align-self: flex-start;
    font-size: 2rem;
    width: 15%;
    margin-top: 2rem;
    border-bottom: 1px solid $color-1;
    color: $color-2;
    @media (max-width: 768px) {
      font-size: 1.6rem;
      margin-left: 5px;
    }
  }

  &__line {
    align-self: stretch;
    background-color: $color-1;
    width: 2px;
    position: relative;
  }

  &__details {
    background-color: white;
    width: 50rem;
    display: flex;
    border: 1px solid $color-1;
    border-radius: 5px;
    padding: 1rem;
    position: relative;
    margin-top: 2rem;
    margin-left: 5rem;
    transition: all 0.2s ease-in;
    @media (max-width: 768px) {
      width: 40rem;
      margin-top: 1rem;
      margin-left: 2rem;
    }

    @media (max-width: 600px) {
      width: 35rem;
    }

    @media (max-width: 320px) {
      width: 20rem;
    }

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 2.8rem;
      right: 100%;
      border-width: 10px 15px 10px 0;
      border-color: transparent $color-1 transparent transparent;
      border-style: solid;
    }

    &:hover {
      background-color: $color-1;
    }
  }

  &__img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-right: 3rem;
    margin-left: 1rem;
    align-self: center;
    @media (max-width: 768px) {
      width: 60px;
      height: 60px;
      margin-right: 1rem;
      margin-left: 3px;
    }
  }

  &__info {
    margin-top: 1rem;
    text-align: left;
  }

  &__title {
    font-size: 2rem;
    color: $color-2;
    @media (max-width: 768px) {
      font-size: 1.8rem;
    }
  }

  &__speaker {
    font-size: 1.6rem;
    font-weight: 400;
  }
}
