.speaker {
  margin: 2rem auto;
  width: 80%;
  &__list {
    text-align: center;
  }

  &__item {
    display: inline-block;
    box-shadow: 0 2px 3px $box-color-b;
    margin: 2rem 2rem;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.2s ease-in;

    &:hover {
      transform: scale(0.9);
    }
  }

  &__item-img {
    width: 100%;
    height: auto;
    margin-bottom: -1rem;
  }

  &__item-info {
    background-color: $color-b;
    padding: 2rem 0;
  }

  &__item-info-name {
    font-size: 2rem;
    color: $color-g;
  }

  &__item-info-title {
    font-size: 1.6rem;
  }
}
