.sponsor {
  margin: 8rem auto 0 auto;
  padding: 2rem;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__img {
    display: block;
    max-width: 200px;
    max-height: 150px;
    margin: 2rem;
  }
}
